@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* COLORS*/
    --BG-COLOR:#c9bebe;
    --FONT-COLOR: #9440AC;
    --TEXT-COLOR: #9359a3;
}
a {
text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--BG-COLOR);
    color: var(--TEXT-COLOR);
}
nav {
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: #652c751a;
    z-index: 99;
}
.nav-content {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #652c75;
}
nav .checkbox {
    display: none;
}
nav input {
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color: #652c75;
    cursor: pointer;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}
ul li a {
    padding: .5rem 1rem;
    font-weight: 500;
    transition: 0.3s;
}
ul li a:hover {
    border-bottom:2px solid #652c75;
    color: #652c75;
}

.container {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
.home .home-content p {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}
span {
    color: #652c75;
}
.title {
    font-size: 3rem;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 1.5px solid #9440ac;
    font-size: 1.4rem;
    border-radius: 50%;
    color: #9440ac;
    transition: 0.3s ease;
}
.social-icons a:hover {
    color: #c9bebe;
    background-color: #9440ac;
    transform: scale(1.3)translateY(-5px);
}
.btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    outline: none;
    padding: .8rem .6rem;
    border: 1px solid #9440ac;
    background-color: transparent;
    color: #9440ac;
    border-radius: 40px;
    margin-top: 1rem;
    transition: .3s ease;
}
.btn:hover {
    background-color: #9440ac;
    color: #c9bebe;
}
.images {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.images img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border-bottom: 3px solid #652c75;
    background-color: #652c751a;
}

.page-title {
    margin: auto;
    font-size: 30px;
    border-bottom: 1px solid #9359a3;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 70px;

}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card {
    width: 325px;
    background-color: #652c751a;
    border-radius: 10px;
    overflow: hidden;
    align-items: stretch;
}
.card-content {
    padding: 20px;
}
.card-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
.card-content p {
    font-size: 15px;
    margin-bottom: 20px;
}
.card-button {
    display: inline-block;
    border: 2px solid #9440ac;
    border-radius: 5px;
    padding: 8px 16px;
    transition: 1s;
    color: #9440ac;
}
.card-button:hover {
    background-color: #9440ac;
    color: #c9bebe;

}
.about {
    max-width: 1200px;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
}
.about-content p{
    word-wrap: wrap;
}


@media (width < 750px){
    nav .checkbox {
        display: block;
    }
    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: #652c75;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    nav #check:checked ~ ul {
        left: 0;
    }
    ul li a {
        font-size: 1.25rem;
        color: #c9bebe;
    }
    .container {
        /* padding: 10rem rem 5rem 3rem; */
        text-align: center;
        flex-direction: column;
        gap: 1rem;
    }
    .images img {
        height: 300px;
        width: 300px;
        margin-top: 1rem;
    }
    .images {
        padding-top: 3rem;
    }
    .home-content {
        padding-top: .5rem;
    }
    .home .home-content h1 {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.3;
        padding-top: .5rem;
    }
    .title {
        font-size: 1.9rem;
        text-wrap: nowrap;
    }
}